{{- define "main" -}}
	<div class="page-partners">
		<div class="container">
			<header class="section section-header">
				<h1 class="title">{{ .Title }}</h1>
				<div class="desc">{{ .Content }}</div>
			</header>
		</div>
		<div class="section">
			<div class="container">
				<div class="columns is-mobile is-multiline">
					{{- range getCSV "," "/resources/partners.csv" -}}
						{{- $.Scratch.SetInMap "partner" "id" (index . 0) -}}
						{{- $.Scratch.SetInMap "partner" "name" (index . 1) -}}
						{{- $.Scratch.SetInMap "partner" "url" (index . 2) -}}

						{{- $.Scratch.SetInMap "partner" "compact" false -}}

						{{- partial "loop-partner.html" ($.Scratch.Get "partner") -}}

						{{- $.Scratch.Delete "partner" -}}
					{{- end -}}
				</div>
			</div>
		</div>

		{{- partial "cta-support.html" . -}}
	</div>
{{- end -}}
