{{- define "main" -}}
	<div class="container">
		<header class="section section-header">
			<h1 class="title">{{ .Title }}</h1>
			<div class="desc">{{ .Content }}</div>
		</header>

		{{- range $status := .Site.Params.appStatus -}}
			{{- if gt (len (where $.Pages ".Params.status" $status.id)) 0 -}}
				<section class="section app-list">
					<header>
						<div class="app-status-{{ $status.id }} hex-badge is-primary columns is-mobile">
							<div class="column is-narrow">
								<div class="badge">
									<i class="fas fa-fw fa-{{ $status.icon }}"></i>
								</div>
							</div>
							<div class="column">
								<h1 class="is-size-3 has-text-weight-bold has-text-black">{{ i18n (printf "apps.status.%s" $status.id) 99 }}</h1>
							</div>
						</div>
					</header>

					<div class="apps-container columns is-multiline is-mobile">
					{{- range where $.Pages ".Params.status" $status.id -}}
						{{- .Render "loop" -}}
					{{- end -}}					
					</div>
				</section>
			{{- end -}}
		{{- end -}}
	</div>
{{- end -}}
