<aside class="column is-6-mobile is-4-tablet is-3-desktop section has-background-light">
    <div class="container">
        <h1 class="subtitle has-text-centered has-text-weight-bold">{{ i18n "sponsors" }}</h1>
        <div class="columns is-mobile is-multiline is-centered">
            {{- range $.Site.Data.sponsors -}}
            {{ if eq .city $.Page.Title }}
            <div class="column is-three-quarters-touch is-2-desktop">
                {{- range .sponsors -}}
                <a href="{{ .link }}" target="_blank" rel="noopener" class="app-brand link">
                    <div class="logo-container">
                            <img src="{{ (printf "images/supporters/%s.png" .id ) | absURL }}" alt="{{ .name }}" title="{{ .name }}">
                    </div>
                </a>
                {{- end -}}
            </div>
            {{- end -}}
            {{- end -}}
        </div>
    </div>
</aside>
<aside class="partners section has-background-light">
    <div class="container">
        <h1 class="subtitle has-text-centered has-text-weight-bold">{{ i18n "partners" }}</h1>
        <div class="columns is-mobile is-multiline is-centered">
            {{ range $.Site.Data.sponsors }}
            <div class="column is-three-quarters-touch is-2-desktop">
                <a href="{{ .url }}" target="_blank" rel="noopener" class="app-brand link">
                    <div class="logo-container">
                        <img src="{{ (printf "images/sponsors/%s.png" .id) | absURL }}" alt="{{ .name }}">
                    </div>
                </a>
            </div>
            {{ end }}
        </div>
    </div>
</aside>