<div class="column is-6-mobile is-4-tablet is-3-desktop {{- if .compact }} is-2-fullhd {{- end }}">
	{{- if (fileExists (printf "static/images/endorsers/%s.png" .id )) -}}
		{{- if .url -}}
			<a href="{{ .url }}" target="_blank" class="partner is-link">
				<div class="logo-container">
					<img src="{{ (printf "images/endorsers/%s.png" .id ) | relURL }}" alt="{{ .name }}" title="{{ .name }}">
				</div>
			</a>
		{{- else -}}
			<div class="partner">
				<div class="logo-container">
					<img src="{{ (printf "images/endorsers/%s.png" .id ) | relURL }}" alt="{{ .name }}" title="{{ .name }}">
				</div>
			</div>
		{{- end -}}
	{{- end -}}
</div>
