{{- define "main" -}}
	<header class="section">
		<div class="container">
			<div class="columns city-labs-section">
				<div class="column is-6-tablet">
					<div class="lab-brand">
						<div class="logo-container">
							{{- if (fileExists (printf "theme/images/city-labs/%s.svg" .File.ContentBaseName )) -}}
								<img src="{{ (printf "images/city-labs/%s.svg" .File.ContentBaseName ) | relURL }}" alt="{{ .Title }}">
							{{- else -}}
								<img src="{{ "images/logo-gray.svg" | relURL }}" alt="">
							{{- end -}}
						</div>
					</div>
				</div>

				<div class="column is-6-tablet lab-info">
					<h1 class="title">Code for {{ .Title }}</h1>
					<div class="content">
						{{- .Content -}}
					</div>
				</div>
			</div>

			<!-- Sign-up forms -->
			{{- partial "city/projects.html" .File.ContentBaseName -}}
		</div>
	</header>

	<!-- {{- partial "banner-join-lab.html" . -}} -->

	{{ partial "city/volunteers.html" .Params.volunteers }}

	{{ partial "city/sponsors.html" . }}

	<!-- {{- partial "banner-donate.html" . -}} -->

{{- end -}}
