@charset 'UTF-8';

@import 'utils/styles';
@import 'utils/mixins';

// Dependencies
@import '~bulma/bulma';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/solid';

@import 'layout/common';
@import 'layout/embeds';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/front';
@import 'layout/programs';
@import 'layout/apps';
@import 'layout/labs';
@import 'layout/blog';
@import 'layout/pages';
@import 'layout/hex';
