<section class="hero is-warning is-small">
	<div class="hero-body">
		<div class="container">
			<div class="columns has-text-centered-mobile">
				<div class="column is-mobile-12">
					<h1 class="is-size-5-mobile is-size-4-tablet has-text-weight-bold">{{ i18n "donate.title" }}</h1>
				</div>
				<div class="column is-narrow">
					<a class="button is-primary" target="_blank" rel="noopener noreferrer" href="https://redirectioneaza.ro/api/ngo/form/code-for-romania">{{ i18n "donate.form" }}</a>
				</div>
			</div>
		</div>
	</div>
</section>
