<section class="hero is-warning is-small">
	<div class="hero-body">
		<div class="container">
			<div class="columns is-vcentered has-text-centered-mobile">
				<div class="column is-mobile-12">
					<h1 class="is-size-5-mobile is-size-4-tablet has-text-weight-bold">{{ i18n "hackday.title" }}</h1>
				</div>
				<div class="column is-narrow">
					<a class="button is-primary is-medium" target="_blank" href="{{ i18n "hackday.url" }}">{{ i18n "hackday.button" }}</a>
				</div>
			</div>
		</div>
	</div>
</section>
